<div class="burgerdiv">
    <div class="burgerspan">
        <h4>{{dataValues.name}}</h4>
    </div>
    <div>{{#if eaten}}{{else}}<button class="devourButton" data-id="{{dataValues.id}}">Devour</button>{{/if}}
    </div>

</div>