<div class="burgerdiv">
    <div class="burgerspan">
        <h4>{{NAME}}</h4>
    </div>
    <div>{{#if eaten}}{{else}}<button class="devourButton" data-id="{{this.id}}">Devour</button>{{/if}}
    </div>

</div>